.Box {
    display: grid;
    justify-content: center;
    color: white;
}

.Dash-Header {
    display: grid;
    width: 462px;
    height: 72px;
    justify-content: center;
    background-color: #252020;
}